body {
  margin: 1.7em;
  color: #666;
}

section {
  display: inherit;
}

.label{
  line-height: 34px;
}
.dropzone {
  flex: 1 auto;
  background-color: #fff;
  border-width: 0 !important;
}

.dropzone * {
  background-color: #fff;
  border-width: 0 !important;
}

x.dropzone>div {
  height: 320px !important;
}

.meta {
  background-color: #f9f9f9 !important;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  padding: 10px 10px 6px 10px;
  margin: 5px;
  min-width:150px;
  color: #555;
  overflow: hidden !important;
  display: inline-block;
  vertical-align: top;
}

.metabeta {
  padding-left: 5px;
  font-size:.8em;
}

.preview {
 width:100%;
  display:inherit;
}

div {
  margin: initial;
  line-height: 23px;
}

.container {
  padding: 0 !important;
  background-color: #fff !important;
}

.meta-container {
  position: relative;
}

.meta-data {
  overflow: scroll;
  max-height: 630px;
  min-height: 70px;
}

.ring-loader {
  position: relative;
  top: -200px;
}

.upper {
  text-transform: uppercase;
}

h3 {
  color: #888888;
  padding: 0 0 0px 10px;
  margin:0;
  font-size:1.3em;
}

.title {
  font-size: 2.5em;
  padding: 0 0 15px 10px;
}

.subtitle {
  padding: 0 0 0 0px;
  position: relative;
  letter-spacing: 5px;
}

.blurb {
  padding: 0px 5px 0px 10px;
  position: relative;
  letter-spacing: 3px;
  font-size: .9em;
 
  margin-top: 10px;
  border-radius: 5px;
}

.blurb>h3 {
  padding-top: 0 !important;
  margin: 0px 0 5px 0px !important;
}

.stretch {
  letter-spacing: 2px;
  font-size: .9em;
}

.sectitle {
  padding: 0 0 10px 0px !important;
}

.metatitle {
  float: right;
  padding: 0 20px 0px 0px !important;
}

.metatitle>span {
  padding-right: 20px;
}

.female {
  color: #FF226B;
}

.male {
  color: #0079D4;
}

.error {
  background-color: rgba(255, 0, 0, .2);
  padding: 5px;
  border-radius: 5px;
}

.anger {
  background-color: #2678B2;
  color: #fff;
}

.contempt {
  background-color: #AFC8E7;
  color: #fff;
}

.disgust {
  background-color: #FD7F28;
  color: #fff;
}

.fear {
  background-color: #FDBB7D;
  color: #fff;
}

.happiness {
  background-color: #339E34;
  color: #fff;
}

.neutral {
  background-color: #9ADE8D;
  color: #fff;
}

.sadness {
  background-color: #D42A2F;
  color: #fff;
}

.surprise {
  background-color: #FD9898;
  color: #fff;
}

.infobar {
  padding: 10px;
}

.score {
  padding: 3px;
  border-radius: 5px;
  text-transform: uppercase;
}

.chart{
  text-align: center;
}
.summary-chart {
  float:right;
  color: #000;
  padding: 5px;
  padding-left: 10px;
  background-color: rgba(243, 243, 243, .5);
  
}

.footer {
  color: #fff;
  margin-top: 30px;
  font-family: "AvenirNext-Medium", sans-serif;
  background-color: #3d3935;
  width: auto;
  text-align: center;
  padding: 20px;
  display: block
}

.footer p {
  text-transform: uppercase;
  font-size: 0.625rem;
  line-height: 0.625rem;
  letter-spacing: 0.1rem;
}
.footer a {
  color: #fff;
  padding: 10px 10px;
  font-size: 0.75rem;
  text-decoration: none;
}

.footer div {
  font-size: 12px;
  font-weight: normal;
  font-size: 0.75rem;
  color: #797979;
  font-family: "AvenirNext-Medium", sans-serif;
}

li {
  padding: 0 0 10px 0;
}

li>b {
  text-transform: uppercase;
}

.saved-item {
  font-size: .9em;
}

.sb-heading--extraLarge {
  outline: none;
}

.sb-heading {
  outline: none;
  margin-top: 15px;
}

.piechart{
  text-align: center;
  margin-right:10px;
}

li{padding:0;}


.gender{
max-width:300px;
display: inline-flex;
}
.legend{
  padding: 5px 5px 0px 5px !important;
}
.apimap{
  width:100%;
}
.logo:hover{
  cursor: pointer;
}
.photo{
  margin-bottom:20px;
}
.webcam-bg{
background-image: url('./images/faceintro2.png') no-repeat !important;
width:200px;
height:200px;
z-index:10000;
}

.right{
  float:right;
}

.chart.meta .x.axis{
  display:none;
  
}


button {
	-moz-box-shadow: 3px 4px 0px 0px #899599;
	-webkit-box-shadow: 3px 4px 0px 0px #899599;
	box-shadow: 3px 4px 0px 0px #899599;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	background-color:transparent;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#0A6242;
	font-family:Arial;
	font-size:17px;
  padding: 7px 10px 3px 10px;
  margin-bottom:10px;
	text-decoration:none;
  text-shadow:0px 1px 0px #e1e2ed;
  outline: none;
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
	background-color:#bab1ba;
}
.button:active {
	position:relative;
	top:1px;
}

.bntActive{
  background-color: green !important;
}
    